/*
 *rpg-test-map-editor by Literal Line
 *more at quique.gq
 */

@font-face {
    font-family: 'Zelda DX';
    src: url('./assets/zeldadxt.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
    background: #111111;
    color: #FFFFFF;
    font-family: "Zelda DX";
    text-align: center;
}

canvas {
    /*border: 1px solid #FFFFFF;*/
    /*cursor: url('./assets/cursor.png'), auto;*/
    display: block;
    margin: auto;
}

#preload {
    position: absolute;
    z-index: -999;
    opacity: 0;
}
